
@{
    ViewBag.Title = "货币列表";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section header{
    <style>
        .col-lg-3 { flex: 0 0 25%; max-width: 25%; padding-right: 15px; padding-left: 15px; }
        .card-header.card-header-primary { margin: -1px -1px 0; background: #20a8d8; border-bottom: 1px solid #20a8d8; }
        .card-header.card-header-inverse { color: #fff; }
        .card-header { padding: 0.75rem 1.25rem; margin-bottom: 0; background-color: #eceff1; border-bottom: 1px solid #cfd8dc; }
        .card { position: relative; display: flex; flex-direction: column; background-color: #fff; border: 1px solid #cfd8dc; }
        .card { margin-bottom: 1.5rem; }
    </style>
    }

<div class="row">
    <div class="col-sm-6 col-lg-3">
        <div class="card">
            <div class="card-header card-header-inverse card-header-success">
                <div class="font-weight-bold">
                    <span>SALE</span>
                    <span class="float-right">$1.890,65</span>
                </div>
                <div>
                    <span>
                        <small>Today 6:43 AM</small>
                    </span>
                    <span class="float-right">
                        <small>+432,50 (15,78%)</small>
                    </span>
                </div>
                <div class="chart-wrapper" style="height:38px;">
                    <canvas class="chart-7-3 chart chart-line" height="38"></canvas>
                </div>
                <div class="chart-wrapper" style="height:38px;">
                    <canvas class="chart-8-3 chart chart-bar" height="38"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
    

    </script>
}

