<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel"> <i></i> <span>窗体标题</span></h4>
            </div>
            <div class="modal-body">
                <div id="load" style="position:absolute;left:10px;"><i class="fa fa-refresh fa-spin fa-fw"></i> <span>加载中...</span></div>
                <iframe src="" style="border:none;width:100%;"></iframe>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="glyphicon glyphicon-remove"></i> 取消</button>
                <button id="submit" type="button" class="btn btn-primary"><i class="glyphicon glyphicon-ok"></i> 确定</button>
            </div>
        </div>
    </div>
</div>

