<div class="flyout">
    <div class="flyout-body">
        <div class="page-header">
            <h3>
                <i></i> <span>标题</span>
                <small></small>
            </h3>
        </div>
        <div style="height:100%;">
            <div class="iframe-load" style="position:absolute;left:10px;"><i class="fa fa-refresh fa-spin fa-fw"></i> <span>加载中...</span></div>
            <div class="flyout-content">
                <iframe src="about:blank"></iframe>
            </div>
        </div>
    </div>
    <div class="fade-background"></div>
</div>