<div class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"><i></i> <span>系统提示</span> </h4>
            </div>
            <div class="modal-body">
                <p>消息</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关  闭</button>
                <!--<button type="button" class="btn btn-primary">确  定</button>-->
            </div>
        </div>
    </div>
</div>